TEST_WCF/StudentService/ConsoleStudent/Connected Services/ServiceReference1/StudentService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/StudentService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/StudentService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="StudentContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StudentID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StudentContract" nillable="true" type="tns:StudentContract" />
  <xs:complexType name="ArrayOfStudentContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StudentContract" nillable="true" type="tns:StudentContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStudentContract" nillable="true" type="tns:ArrayOfStudentContract" />
</xs:schema>