TEST_WCF/StudentService/ConsoleStudent/Connected Services/ServiceReference1/StudentService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52549/StudentService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/StudentService" />
  <xs:element name="AddStudent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/StudentService" minOccurs="0" name="studentContract" nillable="true" type="q1:StudentContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddStudentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllStudent">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllStudentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/StudentService" minOccurs="0" name="GetAllStudentResult" nillable="true" type="q2:ArrayOfStudentContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>